In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\rahul\appdata\local\programs\python\python312\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\rahul\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\rahul\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\rahul\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\rahul\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'description.txt',
 'Genre Classification Dataset',
 'Machine learning.pdf',
 'movie_genre_classification.ipynb',
 'test_data.txt',
 'test_data_solution.txt',
 'train_data.txt']

In [3]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
data=pd.read_csv("description.txt")
print(data)

                                         Train data:
0             ID ::: TITLE ::: GENRE ::: DESCRIPTION
1             ID ::: TITLE ::: GENRE ::: DESCRIPTION
2             ID ::: TITLE ::: GENRE ::: DESCRIPTION
3             ID ::: TITLE ::: GENRE ::: DESCRIPTION
4                                         Test data:
5                       ID ::: TITLE ::: DESCRIPTION
6                       ID ::: TITLE ::: DESCRIPTION
7                       ID ::: TITLE ::: DESCRIPTION
8                       ID ::: TITLE ::: DESCRIPTION
9                                            Source:
10  ftp://ftp.fu-berlin.de/pub/misc/movies/database/

In [4]:
def load_data(file_path):
    with open(file_path,'r',encoding='utf-8') as f:
        data=f.readlines()
    data=[line.strip().split(':::') for line in data]
    return data

In [5]:
train_data=load_data("train_data.txt")
train_df=pd.DataFrame(train_data,columns=['ID','TITLE','GENRE','DESCRIPTION'])

test_data=load_data("test_data.txt")
test_df=pd.DataFrame(test_data,columns=['ID','TITLE','DESCRIPTION'])

test_solution=load_data("test_data_solution.txt")
test_solution_df=pd.DataFrame(test_solution,columns=['ID','TITLE','GENRE','DESCRIPTION'])

In [6]:
print('Train Data:')
train_df

Train Data:

,ID,TITLE,GENRE,DESCRIPTION
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...
...,...,...,...,...
54209,54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on ...
54210,54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The sist...
54211,54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about g..."
54212,54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and hav...
54213,54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense ..."

In [7]:
print('\nTestData:')
test_df

TestData:

,ID,TITLE,DESCRIPTION
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papÃ¡ (1977),"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),Before he was known internationally as a mart...
...,...,...,...
54195,54196,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Da..."
54196,54197,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their...
54197,54198,Oliver Twink (2007),A movie 169 years in the making. Oliver Twist...
54198,54199,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard..."
54199,54200,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms ..."

In [8]:
print('\ntest_solution')
test_solution_df

test_solution

,ID,TITLE,GENRE,DESCRIPTION
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
1,2,La guerra de papÃ¡ (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a mart...
...,...,...,...,...
54195,54196,"""Tales of Light & Dark"" (2013)",horror,"Covering multiple genres, Tales of Light & Da..."
54196,54197,Der letzte Mohikaner (1965),western,As Alice and Cora Munro attempt to find their...
54197,54198,Oliver Twink (2007),adult,A movie 169 years in the making. Oliver Twist...
54198,54199,Slipstream (1973),drama,"Popular, but mysterious rock D.J Mike Mallard..."
54199,54200,Curitiba Zero Grau (2010),drama,"Curitiba is a city in movement, with rhythms ..."

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(max_features=1000)

x_train_tfidf=vectorizer.fit_transform(train_df["DESCRIPTION"])
x_test_tfidf= vectorizer.transform(test_df["DESCRIPTION"])

print(f"Training data shape:{x_train_tfidf.shape}")
print(f"test data shape:{x_test_tfidf.shape}")

Training data shape:(54214, 1000)
test data shape:(54200, 1000)

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train=label_encoder.fit_transform(train_df['GENRE'])
print(f"Unique genres in the trsining data:{label_encoder.classes_}")

Unique genres in the trsining data:[' action ' ' adult ' ' adventure ' ' animation ' ' biography ' ' comedy '
 ' crime ' ' documentary ' ' drama ' ' family ' ' fantasy ' ' game-show '
 ' history ' ' horror ' ' music ' ' musical ' ' mystery ' ' news '
 ' reality-tv ' ' romance ' ' sci-fi ' ' short ' ' sport ' ' talk-show '
 ' thriller ' ' war ' ' western ']

In [11]:
from sklearn.linear_model import LogisticRegression
lr_model=LogisticRegression(max_iter=200)
lr_model.fit(x_train_tfidf,y_train)

y_pred=lr_model.predict(x_test_tfidf)
predicted_genres=label_encoder.inverse_transform(y_pred)

test_df['Predicted_Genre']=predicted_genres
test_df[['TITLE','Predicted_Genre']]

                                  TITLE Predicted_Genre
0                 Edgar's Lunch (1998)           drama
1             La guerra de papÃ¡ (1977)           drama
2          Off the Beaten Track (2010)     documentary
3               Meu Amigo Hindu (2015)           drama
4                    Er nu zhai (1955)           drama
...                                 ...             ...
54195   "Tales of Light & Dark" (2013)           drama
54196      Der letzte Mohikaner (1965)          action
54197              Oliver Twink (2007)          comedy
54198                Slipstream (1973)          comedy
54199        Curitiba Zero Grau (2010)     documentary

[54200 rows x 2 columns]

In [12]:
test_df['Predicted_Genre']=predicted_genres
merged_df=pd.merge(test_solution_df[["ID","GENRE"]],test_df[["ID","Predicted_Genre"]],on="ID")
merged_df

           ID          GENRE Predicted_Genre
0          1       thriller           drama
1          2         comedy           drama
2          3    documentary     documentary
3          4          drama           drama
4          5          drama           drama
...       ...            ...             ...
54195  54196         horror           drama
54196  54197        western          action
54197  54198          adult          comedy
54198  54199          drama          comedy
54199  54200          drama     documentary

[54200 rows x 3 columns]

In [13]:
from sklearn.metrics import accuracy_score,classification_report

accuracy=accuracy_score(merged_df['GENRE'],merged_df['Predicted_Genre'])
print(f"Accuracy:{accuracy:.4f}")

print("\nClassification report")
print(classification_report(merged_df['GENRE'],merged_df['Predicted_Genre']))

Accuracy:0.5489

Classification report
               precision    recall  f1-score   support

      action        0.38      0.21      0.27      1314
       adult        0.53      0.19      0.28       590
   adventure        0.39      0.07      0.12       775
   animation        0.36      0.03      0.05       498
   biography        0.00      0.00      0.00       264
      comedy        0.48      0.51      0.49      7446
       crime        0.25      0.03      0.06       505
 documentary        0.65      0.84      0.74     13096
       drama        0.52      0.75      0.61     13612
      family        0.35      0.08      0.13       783
     fantasy        0.62      0.02      0.03       322
   game-show        0.78      0.45      0.57       193
     history        0.00      0.00      0.00       243
      horror        0.54      0.46      0.50      2204
       music        0.59      0.39      0.47       731
     musical        0.25      0.03      0.05       276
     mystery        0.27      0.01      0.02       318
        news        0.71      0.08      0.15       181
  reality-tv        0.46      0.23      0.31       883
     romance        0.32      0.02      0.04       672
      sci-fi        0.47      0.20      0.28       646
       short        0.43      0.30      0.35      5072
       sport        0.55      0.17      0.26       431
   talk-show        0.47      0.17      0.25       391
    thriller        0.32      0.10      0.15      1590
         war        0.50      0.02      0.03       132
     western        0.79      0.61      0.69      1032

     accuracy                           0.55     54200
    macro avg       0.44      0.22      0.26     54200
 weighted avg       0.52      0.55      0.51     54200